name: PyPy 3.6 on ubuntu-22.04

on:
  workflow_dispatch:
    inputs:
  push:
    paths:
      - .github/workflows/u2201-pypy36.yml

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 'pypy-3.6'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
    - name: Run some code
      run: |
        python3 -c 'import sys; print(sys.argv)'
